@keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#loader {
    background: rgba(0, 0, 0, .2);
    width: 100px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
}

#loader::before,
#loader::after {
    display: block;
    position: absolute;
}

#loader::before {
    -webkit-animation: loader 1s linear infinite;
        -ms-animation: loader 1s linear infinite;
         -o-animation: loader 1s linear infinite;
            animation: loader 1s linear infinite;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
         -o-transform-origin: left top;
            transform-origin: left top;
    background: #f00;
    content: "";
    height: 50px;
    left: 50%;
    top: 50%;
    width: 50px;
}

#loader::after {
    background: #fff;
    border-radius: 50%;
    color: rgba(0, 0, 0, .2);
    content: "CARREGANDO";
    font-size: 10px;
    font-weight: bold;
    height: 94px;
    left: 3px;
    line-height: 90px;
    text-align: center;
    top: 3px;
    width: 94px;
}